#HASH {
  width: 100%;
}

#HASH div {
  display: inline-block;
}

#right {
  text-align: right;
}

#left {
  text-align: left;
}

.foot {
  display: flex;
  justify-content: space-between;
}

.previous {
  float: left;
}

.next {
  float: right;
}

#footer-resize {
    width: 100%;
    height: 100px;
    overflow: hidden;
    bottom: 0;
}
    @media only screen and (max-width: 768px) {
      #footer-resize {
        max-width: 100%;
        display: block;
        /* height: auto; */ 
       }
      }
    
